<br>
<br>
<p> Hello, <%= @user.name %>! </p>

<div class="section group">
  <div class="col span_1_of_2">
    <div class="sign_in_box">
    <h3>New List</h3>

    <p>Create a new playlist to begin choosing songs:</p>


      <%= form_for @playlist do |f| %>
        <p>Playlist Title: <%= f.text_field :title %></p>
        <p>Notes: <%= f.text_field :user_notes %></p>
        <%= f.hidden_field :user_id, :value => @user.id %>

        <p><%= f.submit "New list!" %></p>
      <% end %>
    </div>
  </div>

  <div class="col span_1_of_2">
   <div class="tracks">
    <h3>Add Tracks</h3>

    <p>Select a list to begin adding tracks:</p>
    <ol>
      <% @user.playlists.reverse.each do |list| %>
        <li div class="list_names"><%= link_to list.title, "/playlists/#{list.id}", {:style=>'blue', :class => "css_class"} %>  <%= link_to "[Delete List]", {:controller => "playlists", :action => "delete", :list_id => list.id, :user_id => @user.id}, {:method => :delete }  %>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          "<%= list.user_notes %>"
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
           </li>
          <ul>
            <% list.selections.reverse.each do |track| %>
             <li div class="playlist"> <%= track.name %>, <%= track.band %>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
               <br>
              <br>
              <br>
              <br>
              <br>
                <%= link_to "[Delete from playlist]", {:controller => "selections", :action => "delete", :id => track.id, :user_id => @user.id}, {:method => :delete }  %>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
             <br>
              <br>
              <br>
              <br>
              <p> <iframe src="https://embed.spotify.com/?uri=spotify:track:<%= track.spotify_id %>"width="300" height="80" frameborder="0" allowtransparency="true"></iframe> </p>


              <br>
                   <% end %>
              <br>

              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>


          </ul>
        <% end %>
      </ol>
    </div>
  </div>
