<p> Hello, <%= @user.name %>! </p>
<% @user_id = @user.id %>

<p>Create a new playlist to begin choosing songs:</p>

<%= form_for Playlist.new do |f| %>
  <p>Playlist Title: <%= f.text_field :title %></p>
  <p>Notes: <%= f.text_field :user_notes %></p>
 <%= f.hidden_field :user_id, :value => @user.id.to_i %>

  <p><%= f.submit "New list!" %></p>

  <% end %>


<p>Or pick an existing playlist to edit or add to.</p>

<ul>
<% @user.playlists.each do |list| %>
  <li><%= list.title %> -- <%= list.user_notes %>
<%= link_to "Add Tracks", "/playlists/#{list.id}" %>,
  <% @list_id = list.id %>
<%= link_to "Delete whole list", {:controller => "playlists", :action => "delete", :list_id => @list_id, :user_id => @user_id}, {:method => :delete }  %>

<% list.selections.each do |track| %>

  <li> <%= track.name %>, <%= track.band %>.
    <% @id = track.id %>
   <%= link_to "Delete from playlist", {:controller => "selections", :action => "delete", :id => @id, :user_id => @user_id}, {:method => :delete }  %>
    <% end %>

 </li>
  <% end %>
</ul>
