
<p>Back to <%= link_to "All States", "/" %></p>

<h3>Browsing Top Tracks About <%= @state.name %> </h3>

<p>To begin creating a playlist, <%= link_to "Sign up here", sign_up_path %>

<p> <% @state.state_playlist.each do |tracks| %>
  <li>"<%= tracks["track"]["track_name"] %>, "
    <%= tracks["track"]["artist_name"] %>,


    <p> <iframe src="https://embed.spotify.com/?uri=spotify:track:<%= tracks["track"]["track_spotify_id"] %>"width="300" height="80" frameborder="0" allowtransparency="true"></iframe> </p>

  <% end %>
<br>
<% @state.insta_state %>
  <%= image_tag @state.insta_state %>
  <%= image_tag @state.insta_state %>
 <%= image_tag @state.insta_state %>

