
<p>Back to <%= link_to "All States", "/" %></p>

<h3>Browsing Top Tracks About <%= @state.name %> </h3>

<p>To begin creating a playlist, <%= link_to "Sign up here", sign_up_path %>

<div class="section group">
<div class="col span_1_of_2">

<h3><%= @state.name %> TRACKLIST:</h3>
<p> <% @state.state_playlist.each do |tracks| %>
  <li>"<%= tracks["track"]["track_name"] %>, "
    <%= tracks["track"]["artist_name"] %>,


    <p> <iframe src="https://embed.spotify.com/?uri=spotify:track:<%= tracks["track"]["track_spotify_id"] %>"width="300" height="80" frameborder="0" allowtransparency="true"></iframe> </p>

  <% end %>
</div>

<div class="col span_1_of_2">
<h3>Right now in <%= @state.name %>:</h3>
<p>Powered by Instagram!</p>
<ul>
<% @state.insta_state %>
  <li class="image"><%= image_tag @state.insta_state %>
  <li class="image"><%= image_tag @state.insta_state %>
  <li class="image"><%= image_tag @state.insta_state %>
</ul>
</div>
</div>
