
<br>
<br>
<p>Welcome back, <%= @playlist.user.name %></p>
<p> You are currently editing your playlist: <strong>"<%= @playlist.title %>"</strong></p>
<p><%@playlist_id = @playlist.id %>
<p> <% @user_id = @playlist.user_id %>


<div class="section group">
<div class="col span_1_of_2">

<h3>Top Tracks About <%= @statename %> </h3>
<p> <% @state.state_playlist.each do |tracks| %>

  <li class="image"><%= tracks["track"]["track_name"] %>
  <% @name = tracks["track"]["track_name"] %>
   <%= tracks["track"]["artist_name"] %>
  <% @band = tracks["track"]["artist_name"] %>
  <% @spotify_id = tracks["track"]["track_spotify_id"] %>
<%= link_to "Add to playlist", {:controller => "selections", :action => "create", :name => @name, :band => @band, :playlist_id => @playlist_id, :user_id => @user_id, :spotify_id => @spotify_id}, {:method => :post } %>

<p> <iframe src="https://embed.spotify.com/?uri=spotify:track:<%= @spotify_id %>"width="300" height="80" frameborder="0" allowtransparency="true"></iframe> </p>

  <% end %>
</div>

<div class="col span_1_of_2">
<h3>Right now in <%= @statename %>: </h3>
<p> <%= @state.state_weather %> </p>

<ul>

  <li class="image"><%= image_tag @state.insta_state %>
  <li class="image"><%= image_tag @state.insta_state %>
  <li class="image"><%= image_tag @state.insta_state %>
</ul>
</div>
</div>
