
<br>
<br>
<p>Welcome back, <%= @playlist.user.name %></p>
<p> You are currently editing your playlist: <strong>"<%= @playlist.title %>"</strong></p>
<p><%@playlist_id = @playlist.id %>
<p> <% @user_id = @playlist.user_id %>


<div class="section group">
<div class="col span_1_of_2">

<h3>Top Tracks About <%= @statename %> </h3>
<% @statename = @statename.gsub(" ","%20") %>

<%  api_query = JSON.parse(HTTParty.get("http://api.musixmatch.com/ws/1.1/track.search?apikey=#{Rails.application.secrets.musicxmatch_api_key}&q_lyrics=#{ @statename}")) %>
 <% songs = api_query["message"]["body"]["track_list"] %>
<%songs.each do |tracks| %>

  <li><%= tracks["track"]["track_name"] %>,
  <% @name = tracks["track"]["track_name"] %>
   <%= tracks["track"]["artist_name"] %>
  <% @band = tracks["track"]["artist_name"] %>
  <% @spotify_id = tracks["track"]["track_spotify_id"] %>
<%= link_to "Add to playlist", {:controller => "selections", :action => "create", :name => @name, :band => @band, :playlist_id => @playlist_id, :user_id => @user_id, :spotify_id => @spotify_id}, {:method => :post } %>

<p> <iframe src="https://embed.spotify.com/?uri=spotify:track:<%= @spotify_id %>"width="300" height="80" frameborder="0" allowtransparency="true"></iframe> </p>

  <% end %>
</div>

<div class="col span_1_of_2">
<h3>Right now in <%= @statename %>: </h3>
<ul>
<% query = @statename.gsub("%20","").to_s %>
<% api_query = HTTParty.get("https://api.instagram.com/v1/tags/#{query}/media/recent?client_id=#{Rails.application.secrets.instagram_client_id}") %>
 <% pic1 = api_query["data"].sample%>
 <% pic2 = api_query["data"].sample%>
 <% pic3 = api_query["data"].sample%>
<% @pic1 = pic1["images"]["standard_resolution"]["url"] %>
<% @pic2 = pic2["images"]["standard_resolution"]["url"] %>
<% @pic3 = pic3["images"]["standard_resolution"]["url"] %>

<li class="image"><%= image_tag @pic1 %>
<li class="image"><%= image_tag @pic2 %>
<li class="image"><%= image_tag @pic3 %>
</ul>
</div>
</div>
