<h3>Lets travel, <%= @playlist.user.name %></h3>

<p> Currently editing playlist: <strong>"<%= @playlist.title %>"</strong> </p>


<ul>
  <% @states = State.all %>

<div class="state_list_box" >
<div class="section group">
<div class="col span_1_of_5">
<ul>
<% x = 0 %>
<% while x <10 %>
  <li> <%= link_to @states[x].name, "#{@playlist.id}/#{@states[x].name}/edit" %></li>
  <% x+=1 %>
<% end %>
</ul>
</div>

<div class="col span_1_of_5">
  <ul>
<% while x >= 10 && x <20 %>
  <li> <%= link_to @states[x].name, "#{@playlist.id}/#{@states[x].name}/edit" %></li>
  <% x+=1 %>
<% end %>
</ul>
</div>

<div class="col span_1_of_5">
  <ul>
<% while x >= 20 && x <30 %>
   <li> <%= link_to @states[x].name, "#{@playlist.id}/#{@states[x].name}/edit" %></li>
  <% x+=1 %>
<% end %>
</ul>
</div>

<div class="col span_1_of_5">
  <ul>
<% while x >= 30 && x <40 %>
  <li> <%= link_to @states[x].name, "#{@playlist.id}/#{@states[x].name}/edit" %></li>
  <% x+=1 %>
<% end %>
</ul>
</div>

<div class="col span_1_of_5">
<ul>
<% while x >= 40 && x <50 %>
  <li> <%= link_to @states[x].name, "#{@playlist.id}/#{@states[x].name}/edit" %></li>
  <% x+=1 %>
<% end %>
</ul>
</div>
</div>
</div>
<br>
<br>
