<!DOCTYPE html>
<html>
<head>
  <title>Statesongs || Sonic Roadtrippin'</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag   %>
<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h3>Statesongs</h3>

    <%= link_to "New Account", sign_up_path %> |
    <%= link_to "Log In", log_in_path %> |
    <%= link_to "Log Out", log_out_path %>


<%= "You are signed in as: #{current_user.name}" if current_user %>


<%= yield %>

</body>
</html>
